@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    color: #FCF6F5;
    background: url("../picture/background.png") no-repeat black;
    background-size: cover;
}

/* NAVBAR */

.header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #FCF6F5;
    text-decoration: none;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;

    animation: slideBotToTop .4s .1s ease-in forwards;
}

.navbar a {
    font-size: 20px;
    font-weight: 600;
    color: #FCF6F5;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}
.navbar a:nth-child(1) {
    color: skyblue;
}

.navbar a::before {
    content: '';
    background: #FCF6F5;
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -2;
    left: 0;

    transition: width 300ms;
}

.navbar a:hover::before {
    width: 95%;
}

.navbar a::after {
    content: '';
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    --animation-delay: 0.2s;
    animation: slideBotToTop .4s var(--animation-delay) ease-in forwards;
}

.navbar a:nth-child(2)::after {
    --animation-delay: 0.3s;
}

.navbar a:nth-child(3)::after {
    --animation-delay: 0.4s;
}

.navbar a:nth-child(4)::after {
    --animation-delay: 0.5s;
}

.navbar a:nth-child(5)::after {
    --animation-delay: 0.6s;
}

/* MAIN CONTENT */

.home {
    display: flex;
    align-items: center;
    padding: 7% 10%;

    animation: fadeIn 1s ease-in;
}

.home-content {
    max-width: 800px;
}

.home-content h1 {
    font-size: 3.5em;
}

.home-content h3 {
    font-size: 2.5em;
    color: skyblue;
    padding-bottom: 1em;
}

.home-content p {
    font-family: 'Vollkorn', serif;
    font-size: 1.2em;
    padding-bottom: 2em;
}

.btn-box a {
    border: solid 2px skyblue;
    border-radius: 10px;
    padding: 0.5em 0.8em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 1.5em;

    transition: box-shadow 300ms;
}

.btn-box a:hover {
    box-shadow:
        0px 0px 30px rgba(255, 255, 255, 0.80);
}


.btn-box a:nth-child(1) {
    color: black;
    background: skyblue;
}

.btn-box a:nth-last-child(1) {
    color: skyblue;
    background: transparent;
}


/* SOCIAL MEDIA */

.social-media {
    position: absolute;
    bottom: 40px;
    width: 400px;

    display: flex;
    justify-content: space-between;

    margin: 20px 100px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;

    width: 80px;
    height: 80px;
    border: solid skyblue 2px;
    color: skyblue;
    border-radius: 50%;
    font-size: 40px;
    text-decoration: none;

    overflow: hidden;
    transition: color 300ms;
}

.social-media a::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: skyblue;

    transition: width 400ms;
}

.social-media a:hover::before {
    width: 100%;
}

.social-media a:hover {
    color: black;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        padding: 1em 0;
    }

    .navbar {
        padding-top: 1.5em;
    }

    .navbar a {
        font-size: 17px;
    }

    .navbar a:nth-child(1) {
        margin: 0;
    }

    .btn-box a {
        padding: 0.3em 0.6em;
        margin: 0.5em;
        font-size: 1.3em;
    }

    .home {
        padding: 7% 5%;
    }

    .home-content h1 {
        font-size: 2.4em;
    }

    .home-content h3 {
        font-size: 1.8em;
        padding-bottom: 0.5em;
    }

    .home-content p {
        font-size: 1.2em;
        padding-bottom: 2em;
    }

}

/* KEYFRAMES ANIMATION */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


@keyframes slideBotToTop {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
